//ADVENTURE ARCHIVE PAGE
.post-type-archive-adventure{
  .page-header h1{
    padding: 0;
  }
  .adventures-archive-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 5%;
    justify-content: center;
    align-items: center;
    li div{
      margin: 0 10px;
      width: 40vw;
      height: 70vh;

      background-size: cover;
      h1{
        padding: 10px;
      }
      a{
        text-decoration: none;
        color: white;
        padding: 5px 0;
        &:hover{
          color: #f0e4d1;
        }
      }
      
      p{
        color: white;
        border: 2px solid white;
        padding: 10px 20px;
        margin-left: 20px;
        width: 150px;
        text-transform: uppercase;
        font-family: $font-uppercase;
        &:hover{
          background: #248A83;
          border:none;
        }
      }
    }
  }
}