/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import 'variables';
@import 'mixins';

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

//CUSTOMIZATION
#content{
	margin-top: 50px;
}

// FRONT PAGE STYLING
.home{
	//NAV BAR STYLING
	.main-navigation{
		// background: rgba(255,255,255, 0);
		border: none;
		button{
			text-shadow: none;
		}
	}
	#content{
		margin-top: 0;
	}
	.site-main{
		h1{
			text-transform: uppercase;
			font-family: $font-uppercase;
			margin: 30px auto;
			text-align: center;
		}
		//HOME PAGE HERO IMAGE STYLING
	.home-banner-wrapper{
		display: flex;
		justify-content: center;
		// width: 100%;
		height: 100vh;
		background: linear-gradient(30deg,rgba(60,60,60,0.3),rgba(60,60,60,0.3)),url('../../assets/images/home-hero.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
} 
//HOME PAGE JOURNAL SECTION STYLING
	.home-journal-posts{
		margin: 30px auto;
		h1{
			text-align: center;
		}
		ul{
			list-style-type: none;
			display: flex;
			justify-content: center;
			margin: 0 8%;
			li{
				width: 30%;
				max-height: 500px;
				
				padding-bottom: 10px;
				margin: 0 15px;
				border: solid #a1a1a1 1px;

				.home-image-wrapper{
					height: 60%;
					padding: 0;
					img{
						height: 100%;
					}
				}
				.home-journal-info-wrapper{
					height: 40%;
					padding: 15px;
					border-top: solid #a1a1a1 5px;
					display:flex;
					flex-direction: column;
					justify-content: space-between;
				}
				h2{
					color: #248A83;
					text-transform: uppercase;
					font-family: "no", sans-serif;
					&:hover{
						color: #2f1339;
					}
				}
				a{
					text-decoration: none;
					color: black;
				}
				.home-journal-button{
					font-family: "no", sans-serif;
					text-transform: uppercase;
					text-align: center;
					border: solid black 1px;
					padding: 5px;
					width: 150px;
					&:hover{
						color: white;
						background: $text-green;
						border: none;
					}
				}
			}
		}
	} 
//HOME PAGE SAMPLE PRODUCTS SECTION STYLING
.product-info-container{
	h2{
		text-align: center;
	}
	.product-type-blocks{
		display:flex;
		justify-content: space-between;
		padding:1% 8%;
		margin: 0 0.8%;
	}
	.product-type-block-wrapper{
		img{
			height: 5vw;
		}
		margin: 0 20px;
		padding: 10px 20px;
		text-align: center;
		border: 1px solid #f0e4d1;
		border-top: 5px solid #f0e4d1;
		&:hover{
			border: 1px solid #d99054;
			border-top: 5px solid #d99054;
		}
		p{
			margin: 30px 0;
		}
		a{
			text-decoration: none;
			text-transform: uppercase;
			font-family: $font-uppercase;
			color: white;
			background: #248A83;
			padding: 10px 20px;
			&:hover{
				background: linear-gradient(30deg,rgba(60,60,60,0.5),rgba(60,60,60,0.5)),#248A83;
			}
		}
	}
}
//HOME PAGE ADVENTURE SECTION
	.home-adventures{
		margin: 50px auto;
			p{
			text-transform: uppercase;
			text-align: center;
			width: 200px;
			color: white;
			font-family: $font-uppercase;
			background: #248A83;
			margin: 30px 10%;
			padding: 10px 0;
			&:hover{
				background: linear-gradient(30deg,rgba(60,60,60,0.3),rgba(60,60,60,0.3)),#248A83;
			}
		}
		.adventure-grid{
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 2fr 1fr 1fr;
			height: 75%;
			grid-gap: 20px;
			justify-content: center;
			margin: 20px 10%;
			list-style-type: none;
			a{
				text-decoration: none;
				color: white;
			}
			h2{
				text-transform: capitalize;
				font-family: $font-main;
				color: white;
				padding: 0 20px;
				text-align: left;
				margin: 30px 0;
				&:hover{
					color: #f0e4d1;
				}
			}
			p{
				font-size: 1rem;
				text-transform: uppercase;
				background: none;
				text-align: center;
				font-family: $font-uppercase;
				color: white;
				border: 2px solid white;
				padding: 10px 20px;
				margin-left: 20px;
				width: 150px;
				&:hover{
					background: #248A83;
					border:none;
				}
			}
			li:nth-child(1){
				grid-row-start: 1;
				grid-row-end: span 2;
				grid-column-start: 1;
				background: linear-gradient(30deg,rgba(60,60,60,0.3),rgba(60,60,60,0.3)),url('../../assets/images/adventure-photos/canoe-girl.jpg');
				background-size: cover;
	
			}
			li:nth-child(2){
				grid-row-start: 1;
				grid-column-start: 2;
				grid-column-end: 4;
				background: linear-gradient(30deg,rgba(60,60,60,0.3),rgba(60,60,60,0.3)),url('../../assets/images/adventure-photos/beach-bonfire.jpg');
				background-size: cover;
				background-position: center -100px;
			}
			li:nth-child(3){
				grid-row-start: 2;
				grid-column-start: 2;
				background: linear-gradient(30deg,rgba(60,60,60,0.3),rgba(60,60,60,0.3)),url('../../assets/images/adventure-photos/mountain-hikers.jpg');
				background-size: cover;
			}
			li:nth-child(4){
				grid-row-start: 2;
				grid-column-start: 3;
				background: linear-gradient(30deg,rgba(60,60,60,0.3),rgba(60,60,60,0.3)),url('../../assets/images/adventure-photos/night-sky.jpg');
				background-size: cover;
			}
		}
		
	
	}

} 


// EACH JOURNAL PAGE STYLING
.single-post{
	.entry-header{
		// img{
		// 	width: 600px;
		// }
	}
	.comments-area{
		.comments-title{
			margin: 50px 0;
			text-transform: uppercase;
			font-family: $font-uppercase;
		}
		ol {
			border-bottom: none;
			// list-style-position: inside;
			list-style-type: none;
			li{
				// border-bottom: 0.5px #a1a1a1 solid;
				a{
					text-decoration: none;
					color: $text-green;
				}
				
			.comment-body{
				position: relative;
			}
			.comment-author-avatar{
				display: inline;
				position: absolute;
				top: 0;
			}
			.comment-content{
				margin-left: 100px;
			}
		}
	}
	.comment-respond{
		font-size: 1rem;
		h3{
			margin: 20px 0;
			text-transform: uppercase;
			font-family: $font-uppercase;
		}
		p{
			margin: 20px 0;
		}
		.comment-form-comment,
		.comment-form-author,
		.comment-form-email,
		.comment-form-url{
			text-transform: uppercase;
			font-family: $font-uppercase;
			.required{
				color: #d99054;
			}
		}
		.comment-form-author{
			float: left;
			width: 50%;
		}
		input[type="text"]{
			width: 95%;
		}
		.comment-form-email{
			float: right;
			width: 50%;
		}
		input[type="email"]{
			width: 100%;
		}
		input[type="url"]{
			width: 100%;
		}
		input[type="submit"]{
			color: white;
			padding: 10px 30px;
			background: $text-green;
			text-shadow: none;
			text-transform: uppercase;
			font-family: $font-uppercase;
			&:hover{
				box-shadow: none;
				background: linear-gradient(30deg,rgba(60,60,60,0.3),rgba(60,60,60,0.3)),#248A83;
				
			}
		}
	}
}
}
//SINGLE PRODUCT PAGES
.single-products{
	.site-main{
		display: flex;
		justify-content: space-between;
		margin: 20px 10%;
	}
	.entry-header{
		width: 60%;
		margin: 40px 0;

		
	}
	.entry-content{
		width: 40%;
		h1{
			text-transform: uppercase;
			color: #d99054;
			font-family: $font-uppercase;
			margin: 15px 0;
		}
		h3{
			font-family: $font-uppercase;
			font-weight: normal;
			font-size: 1.5rem;
			margin: 10px 0;
		}
		.single-post-social-media{
			@include social-media-span;
		}
	}
}


//SHOP PAGE STYLING
.post-type-archive,.tax-product-type{
	#main{
		.page-header,.tax-custom-type-header{
			font-family: $font-uppercase;
			padding-bottom: 3vw;
			text-align: center;
			border-bottom: $border_grey_dashed;
			.products-archive-type-list{
				display: flex;
				list-style-type: none;
				justify-content: center;
				
				li{
					width: 7%;
					text-align: center;
					font-size: 1.2rem;
					text-transform: uppercase;
					font-weight: normal;
					a{
						text-decoration: none;
						color: #248A83;
						&:hover{
							color: #2f1339;
						}
					}
				}
			}
		}
		.products-archive-list,.tax-custom-list{
			display: flex;
			flex-wrap: wrap;
			margin:5vw 10vw;
			list-style-type: none;
			li{
				flex-basis: 22%;
				margin: 2vw 1vw;
				.products-archive-image-wrapper,.tax-custom-image-wrapper{
					height: 14vw;
					img{
						object-fit: cover;
						height: 100%;
					}
				}
				.products-archive-text-wrapper,.tax-custom-text-wrapper{
					position: relative;
					display: flex;
					width: 100%;
					overflow: hidden;
					border: 1px solid #f0e4d1;
					border-top: 5px solid #f0e4d1;;
					padding: 10px;
					height: 60px;
					span:first-child{
						position: absolute;
						left: 2px;
						z-index: 3;
						background: white;
					}
					span:last-child{
						position: absolute;
						right: 2px;
						background: white;
						&::before{
							content: '...........................';
						}
					}
					
				}
			}
		}
	}
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
