/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import 'variables';

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

//CUSTOMIZATION
#content{
	margin-top: 50px;
}

// FRONT PAGE JOURNAL SECTION
.home{
	.main-navigation{
		background: rgba(255,255,255, 0);
		border: none;
		button{
			text-shadow: none;
		}
	}
	#content{
		margin-top: 0;
	}
	.site-main{
	// article .entry-header{
	// 	// display: none;
	// }
		h1{
			text-transform: uppercase;
			font-family: $font-uppercase;
			margin: 30px auto;
			text-align: center;
		}
	.home-banner-wrapper{
		display: flex;
		justify-content: center;
		// width: 100%;
		height: 100vh;
		background: linear-gradient(30deg,rgba(60,60,60,0.3),rgba(60,60,60,0.3)),url('../../assets/images/home-hero.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		.home-logo{
			// height: 100%;
		}
	}
} 



	.home-journal-posts{
		h1{
			text-align: center;
	}
		ul{
	list-style-type: none;
	display: flex;
	justify-content: center;
	li{
		width: 30%;
		max-height: 500px;
		
		padding-bottom: 10px;
		margin: 0 15px;
		border: solid #a1a1a1 1px;

		.home-image-wrapper{
			height: 60%;
			padding: 0;
			img{
				height: 100%;
			}
		}
		.home-journal-info-wrapper{
			height: 40%;
			padding: 15px;
			border-top: solid #a1a1a1 5px;
			display:flex;
			flex-direction: column;
			justify-content: space-between;
		}
		h2{
			color: #248A83;
			font-family: "no", sans-serif;
		}
		a{
			text-decoration: none;
			font-family: "no", sans-serif;
			text-transform: uppercase;
			text-align: center;
			color: black;
			border: solid black 1px;
			padding: 5px;
			width: 150px;
		}
	}
}
} 

.product-info-container{
	h2{
		text-align: center;
	}
	.product-type-blocks{
		display:flex;
		justify-content: space-between;
		padding: 1vw 10vw;
	}
	.product-type-block-wrapper{
		img{
			height: 5vw;
		}
		margin: 0 20px;
		padding: 10px 20px;
		text-align: center;
		border: 1px solid #f0e4d1;
		border-top: 5px solid #f0e4d1;
		&:hover{
			border: 1px solid #d99054;
			border-top: 5px solid #d99054;
		}
		p{
			margin: 30px 0;
		}
		a{
			text-decoration: none;
			text-transform: uppercase;
			font-family: $font-uppercase;
			color: white;
			background: #248A83;
			padding: 10px 20px;
			// margin: 30px 0;
		}
	}
}


} 
// EACH JOURNAL PAGE STYLING





//SHOP PAGE STYLING
.post-type-archive,.tax-product-type{
	#main{
		.page-header,.tax-custom-type-header{
			font-family: "no", sans-serif;
			margin: 2vw auto;
			text-align: center;
			.products-archive-type-list{
				display: flex;
				list-style-type: none;
				justify-content: center;
				
				li{
					width: 7%;
					text-align: center;
					font-size: 1.2rem;
					text-transform: uppercase;
					font-weight: normal;
					a{
						text-decoration: none;
						color: #248A83;
					}
				}
			}
		}
		.products-archive-list,.tax-custom-list{
			display: flex;
			flex-wrap: wrap;
			margin:5vw 10vw;
			list-style-type: none;
			li{
				flex-basis: 22%;
				margin: 2vw 1vw;
				.products-archive-image-wrapper,.tax-custom-image-wrapper{
					height: 14vw;
					img{
						object-fit: cover;
						height: 100%;
					}
				}
				.products-archive-text-wrapper,.tax-custom-text-wrapper{
					position: relative;
					display: flex;
					width: 100%;
					overflow: hidden;
					border: 1px solid #f0e4d1;
					border-top: 5px solid #f0e4d1;;
					padding: 10px;
					// z-index: 5;
					height: 60px;
					// background: white;
					span:first-child{
						position: absolute;
						left: 2px;
						// top: 2px;
						z-index: 3;
						background: white;
					}
					span:last-child{
						position: absolute;
						right: 2px;
						// top: 1px;
						background: white;
						&::before{
							content: '...........................';
						}
					}
					// .dots{
					// 	background: white;
					// 	flex-grow: 2;
					// 	text-align: right;
					// 	overflow: hidden;
					// 	// z-index: 5;
					// 	&::before{
					// // 	// display:block;
					// // 	z-index: -5;
					// // 	position:absolute;
					// 	content:'...............';
					// // 	top: 5px;
					// // 	width: 14px;
					// // 	height: 14px;
					// // 	left: 70px;
					// }
					// }
					
				}
			}
		}
	}
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
