/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "variables";

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
				
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: inline;
}

// CUSTOMIZATION
.main-navigation{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 10px 60px;
	border-bottom: 1px solid #e4e4e4;
	background: rgba(255,255,255, 0.8);
	z-index:3;
	img{
		height: 24px;
	}
	.main-menu{
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 30%;
		font-family: $font__uppercase;
		text-transform: uppercase;
		.menu-main-menu-container{
			width: 75%;
			li{
			padding: 0 0.5vw;
			a{
				color: #248A83;
			}
		}
		}
			
	
		form {
			// width: 50%;
			
			fieldset{
			// width: 20%;
			width: 100%;
				border: none;
				display: flex;
				position: relative;
				button{
					position: absolute;
					top: 0;
					left: -5px;
					background: none;
					border: none;
					width: 10px;
				}
				label{
					position: absolute;
					top: -5px;
					left: 30px;
					input{
						border: none;
					}
					
				}

			}
		}
}
	
}


@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: inline;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
