/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
@import 'variables';
/* Front page */


.blog,
.error404,
.page-id-25,
.single-post,
.search-results,
.search-no-results,
.tag,
.category{
  .site-content{
    display: flex;
    margin-top: 48px;
  }
  #primary{
    width: 75%;
    padding: 50px 80px;
  }
  #secondary{
    width: auto;
    padding: 50px 50px;
    border-left: 1px solid #e4e4e4;
    a{
      text-decoration: none;
      color: #248A83;
      &:hover{
        color: #2f1339;
      }
    }
    i{
      min-width: 35px;
      padding: 0 5px;
      // color: black;
    }
    aside {
      .widget-title{
        text-transform: uppercase;
        font-family: $font-uppercase;
      }
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .day-of-week{
        font-weight: 800;
      }
    } 
  }
}

//JOURNAL ARCHIVE PAGE
.blog,.single-post{
  #primary{
    padding-top: 0;
  }
  .site-content{
    article {
      margin: 50px 0;
      .entry-header{
        position: relative;
        text-transform: uppercase;
        img{
          width: 100%;
        }
        .entry-title{
          color: white;
          font-family: "no", sans-serif;
          position: absolute;
          top: 10px;
          left:0;
          max-width: 80%;
          background: #248A83;
          padding: 10px;
          a{
            text-decoration: none;
            font-family: $font-uppercase;
            color: white;
            width: 100%;
            &:hover{
              color: #f0e4d1;
            }
          } 
        }
        .entry-meta{
          position: absolute;
          bottom: 6px;
          right: 0;
          color: white;
          background: #248A83;
          padding: 5px;
          a{
            color: white;
            text-decoration: none;
          }
        }
      }
      .entry-content{
        p{
          margin: 20px 0;
        }
        a{
          text-decoration: none;
          font-family: "no", sans-serif;
          text-transform: uppercase;
          text-align: center;
          color: black;
          border: solid black 1px;
          padding: 10px;
          &:hover{
            background: $text-green;
            color: white;
            border:none;
          }
        }
      }
    }
    
    .entry-footer{
      margin-top: 40px;
      text-transform: uppercase;
      font-family: "no", sans-serif;
      span{
        margin: 20px 20px 10px 0;
        a{
          color: #248A83;
          text-decoration: none;
        }
      }
    }
    .entry-summary{
      a{
        text-decoration: none;
        font-family: "no", sans-serif;
        text-transform: uppercase;
        text-align: center;
        color: black;
        border: solid black 1px;
        padding: 10px;
        width: 150px;
        // margin: 10px 0;
      }
    } 
    
    .single-post-social-media{
      @include social-media-span;
    }
  }
}






//general
body{
  font-family: $font-main;
}

// FOOTER
.site-footer{
  color: white;
  .footer-background-image{
    height: 300px;
    .site-info{
      display: flex;
      padding: 0 5%;
      height: 75%;
      h3{
        font-family: $font-uppercase;
        text-transform: uppercase;
        color: $text-color_orange;
      }
      .contact-info,.business-hours{
        width:40vw;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .contact-info{
        a{
          text-decoration: none;
          color: white;
          &:hover{
            text-decoration: underline;
          }
        }
        i{
          padding: 0 7px;
          font-size: 1.5rem;
          &:hover{
            color: #d99054;
          }
        }
      }
      .business-hours{
        .text-bold{
          font-weight: bold;
        }
      }
      .footer-image{
        padding: 50px 3% 50px 30%;
        width: auto;
        a{
          text-decoration: none;
          color: white;
        }
      }
      
    }
    .footer-copyright{
      font-family: "no",sans-serif;
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
    }
  }
  
}