/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
@import 'variables';
/* Front page */


.blog,.error404,.page-id-25,.single-post,.search-results,.search-no-results,.single-products{
  .site-content{
    display: flex;
    margin-top: 48px;
  }
  #primary{
    width: 75%;
    padding: 50px 80px;
  }
  #secondary{
    width: auto;
    padding: 50px 50px;
    border-left: 1px solid #e4e4e4;
    a{
      text-decoration: none;
      color: #248A83;
    }
    i{
      min-width: 35px;
      padding: 0 5px;
      // color: black;
    }
    aside {
      .widget-title{
        text-transform: uppercase;
        font-family: $font-uppercase;
      }
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .day-of-week{
        font-weight: 800;
      }
    } 
  }
}

//journal page
.blog,.single-post{
  #primary{
    padding-top: 0;
  }
  .site-content{
    article {
      margin: 50px 0;
      .entry-header{
        position: relative;
        text-transform: uppercase;
        img{
          width: 100%;
        }
        .entry-title{
          color: white;
          font-family: "no", sans-serif;
          position: absolute;
          top: 10px;
          left:0;
          max-width: 80%;
          background: #248A83;
          padding: 10px;
          a{
            text-decoration: none;
            font-family: "no";
            color: white;
            width: 100%;
          } 
        }
        .entry-meta{
          position: absolute;
          bottom: 6px;
          right: 0;
          color: white;
          background: #248A83;
          padding: 5px;
          a{
            color: white;
            text-decoration: none;
          }
        }
      }
      .entry-content{
        p{
          margin: 20px 0;
        }
        a{
          text-decoration: none;
          font-family: "no", sans-serif;
          text-transform: uppercase;
          text-align: center;
          color: black;
          border: solid black 1px;
          padding: 10px;
          // width: 150px;
        }
      }
    }
    
    .entry-footer{
      margin-top: 40px;
      text-transform: uppercase;
      font-family: "no", sans-serif;
      span{
        margin: 20px 20px 10px 0;
        a{
          color: #248A83;
          text-decoration: none;
        }
      }
    }
    .entry-summary{
      a{
        text-decoration: none;
        font-family: "no", sans-serif;
        text-transform: uppercase;
        text-align: center;
        color: black;
        border: solid black 1px;
        padding: 10px;
        width: 150px;
        // margin: 10px 0;
      }
    } 
    
    .single-post-social-media{
      span{
        padding: 10px 20px;
        border: 1px solid black;
        text-transform: uppercase;
        font-family: "no", sans-serif;
        a{
          color: black;
          text-decoration: none;
        }
        i{
          padding: 10px;
        }
        &:hover{
          background: #248A83;
          a{
            color: white;
          }
        }
        
      }
    }
  }
  
}
//ABOUT PAGE STYLING
.page-template-about{
  .entry-header{
    display:flex;
    justify-content: center;
    align-items: center;
    .entry-title{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: $font-uppercase;
  }
  }
  .entry-content{
    margin: 10px 300px;
    h1{
      text-transform: uppercase;
      font-family: $font-uppercase;
      margin: 30px 0;
      text-align: center;
    }
    p{
      line-height: 1.75;
      padding: 15px 0;
    }
  }
  
}
//FIND US PAGE STYLING
.page-template-default{
  .entry-header{
    h1{
      text-transform: uppercase;
      font-family: $font-uppercase;
      margin: 30px 0;
    }
  }
  .entry-content{
    h2{
      text-transform: uppercase;
      font-family: $font-uppercase;
      margin: 30px 0;
    }
    form{
      p{
        line-height: 1.75;
        margin: 20px 0;
        text-transform: uppercase;
        font-family: $font-uppercase;
        input[type=submit]{
          padding: 10px 20px;
          background: $text-green;
          color: white;
          text-transform: uppercase;
          font-family: $font-uppercase;
          text-shadow: none;
        }
      }
      .form-star{
        color: crimson;
      }
    }
  }
}



//search results & search no results page
.search{
  .page-title{
    font-family: "no";
    text-transform: uppercase;
    font-size: 2rem;
    // padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: $border_grey;
  }
  article{
    padding: 20px 0;
    
    .entry-title {
      text-transform: uppercase;
      font-size: 2rem;
      
      a{
        text-decoration: none;
        color: $text-green;
        font-family: $font-uppercase;
      }
    }
    .entry-summary{
      // margin: 10px 0;
      p{
        margin: 30px 0;
      }
      a{
        text-decoration: none;
        font-family: "no", sans-serif;
        text-transform: uppercase;
        text-align: center;
        color: black;
        border: solid black 1px;
        padding: 10px;
        width: 150px;
        // margin: 10px 0;
      }
    }
  }
  .search-pagination{
    height: 50px;
    .page-numbers{
      color: white;
      background-color: $text-green;
      // width: 30px;
      // height: 50px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $font-uppercase;
      font-size: 1.2rem;
      padding: 9px 15px;
      margin: 0 5px;
    }
  }
}
.search-no-results{
  .page-content p{
    font-family: $font-main;
    font-size: 1.2rem;
    margin: 0 20px;
  }
}

//404 page styling
.error404{
  .site-main{
    .page-title{
      text-transform: uppercase;
      font-family: $font-uppercase;
      // font-size: 2rem;
    }
    .search-form{
      margin: 20px 0;
      // height: 40px;
      fieldset{
        width: 200px;
        #search-field{
          width: 200px;
          margin: 0;
        }
      }
    }
    .widget-title,.widgettitle{
      text-transform: uppercase;
      font-family: $font-uppercase;
      margin: 10px 0;
    }
    .widget ul{
      list-style-type: none;
      li{
        text-transform: capitalize;
        line-height: 1.75;
      }
      a{
        text-decoration: none;
        color: $text-green;
        
      }
    }
    select{
      margin: 20px 10px;
    }
  }
}


//general
body{
  font-family: $font-main;
}

// FOOTER
.site-footer{
  color: white;
  .footer-background-image{
    height: 300px;
    .site-info{
      display: flex;
      padding: 0 5%;
      height: 75%;
      h3{
        font-family: $font-uppercase;
        text-transform: uppercase;
        color: $text-color_orange;
      }
      .contact-info,.business-hours{
        // height: 75%;
        width: 20vw;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .contact-info{
        a{
          text-decoration: none;
          color: white;
        }
        i{
          padding: 0 7px;
          font-size: 1.5rem;
        }
      }
      .business-hours{
        .text-bold{
          font-weight: bold;
        }
      }
      .footer-image{
        padding: 50px 3% 50px 30%;
        width: auto;
        a{
          text-decoration: none;
          color: white;
        }
      }
      
    }
    .footer-copyright{
      font-family: "no",sans-serif;
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
    }
  }
  
}