/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
@import 'variables';
/* Front page */

// sidebar
.blog,.error404,.page-id-25{
  .site-content{
    display: flex;
  }
}
#primary{
  width: 75%;
  padding: 0 150px;
}
#secondary{
  width: auto;
  a{
      text-decoration: none;
      color: #248A83;
    }
    i{
      min-width: 35px;
      padding: 0 5px;
      // color: black;
    }
  aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
//journal page
.blog{
  .site-content{
    padding: 50px 0;
    article .entry-header{
    
    position: relative;
    text-transform: uppercase;
    .entry-title{
      position: absolute;
      top: 10px;
      left:0;
      max-width: 80%;
      background: #248A83;
      padding: 10px;
      a{
        text-decoration: none;
        font-family: "no";
        color: white;
        width: 100%;
      } 
    }
    .entry-meta{
      position: absolute;
      bottom: 6px;
      right: 0;
      color: white;
      background: #248A83;
      padding: 5px;
    }
  } 
  } 
}


body{
  font-family: $font__main;
}
// FOOTER
footer{
  color: white;
  .site-info{
    display: flex;
    h3{
      font-family: $font__uppercase;
      text-transform: uppercase;
      color: $text-color_orange;
      }
    .contact-info,.business-hours{
      width: 300px;
      padding: 7px;
    }
    .contact-info{
      a{
        text-decoration: none;
        color: white;
      }
      i{
        padding: 0 7px;
        font-size: 1.5rem;
      }
    }
    .business-hours{
      .text-bold{
        font-weight: bold;
      }
    }
    .footer-image{
      padding: 50px;
      width: 400px;
      a{
        text-decoration: none;
        color: white;
      }
    }
    
  }
  .footer-copyright{
    font-family: "no",sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
  }
}